/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";


body {
    color: white;
    text-decoration: none;
    background-color: rgba(41, 43, 46, 1);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 3px;
}

