<nav class="navbar">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-2">
                <a class="navbar-brand" href="#">
                    <img alt="" class="navbar-brand-img" height="80" ngSrc="assets/images/ve-icon-nobg.svg" width="80">
                </a>
                <!--                <div class="dropdown">-->
                <!--                    <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"-->
                <!--                            type="button">-->
                <!--                        Language-->
                <!--                    </button>-->
                <!--                    <ul class="dropdown-menu">-->
                <!--                        <li><a class="dropdown-item" href="#">English</a></li>-->
                <!--                        <li><a class="dropdown-item" href="#">Українська</a></li>-->
                <!--                    </ul>-->
                <!--                </div>-->
            </div>
            <div class="col-8">
                <div class="container mt-3 d-flex align-items-center justify-content-center">
                    <div class="input-group">
                        <input class="form-control" placeholder="  Search..." type="text">
                        <button class="btn btn-primary" href="#" type="button"><img alt=""
                                                                                    height="22"
                                                                                    ngSrc="assets/images/filter-button.svg"
                                                                                    width="24">
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-2 burger-menu ">
                <a class="navbar-toggler" href="#">
                    <!--                    <span class="navbar-toggler-icon"></span>-->
                    <img alt="" height="44" ngSrc="assets/images/burger.svg" width="44">
                </a>
                <div class="desktop-additional-buttons">
                    <a href="#">
                        <img alt="" height="30" ngSrc="assets/images/cart-button.svg" width="36">
                    </a>
                    <a class="profile-button" href="#">
                        <img alt="" height="30" ngSrc="assets/images/profile-button.svg" width="36">
                    </a>
                </div>

            </div>
        </div>
    </div>
</nav>
