<footer>
    <div class="container footer">
        <div>
            <div>
                <img ngSrc="assets/images/ve-icon-nobg.svg" height="80" width="80" alt="">
                <div class="row justify-content-start">
                    <div class="col-md-2 col-sm-4">
                        <p>Let’s cooperate</p>
                        <a href="#">VE Business</a><br>
                        <a href="#">VE Partners</a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <p>Helpful links</p>
                        <a href="#">About Us</a><br>
                        <a href="#">FAQ</a><br>
                        <a href="#">Contact Us</a><br>
                        <a href="#">Security</a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <p>Follow us</p>
                        <a href="#">Facebook</a><br>
                        <a href="#">Twitter</a><br>
                        <a href="#">Instagram</a><br>
                    </div>
                    <div class="col-md-2 col-sm-4"></div>
                    <div class="col-md-2 col-sm-4"></div>
                    <div class="col-md-2 col-sm-4">
                        <a href="https://play.google.com/store/games?hl=uk&gl=US">
                            <img ngSrc="assets/images/google-play-badge-en.svg" width="180"
                                 class="get-on-img google-get-img"
                                 alt="Google Play and the Google Play logo are trademarks of Google LLC." height="53">
                        </a><br>
                        <a href="https://play.google.com/store/games?hl=uk&gl=US">
                            <img ngSrc="assets/images/apple-badge-en.svg" width="180"
                                 class="get-on-img"
                                 alt="Google Play and the Google Play logo are trademarks of Google LLC." height="60">
                        </a>
                        <!--                        <div class="dropdown">-->
                        <!--                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"-->
                        <!--                                    aria-expanded="false">-->
                        <!--                                Dropdown button-->
                        <!--                            </button>-->
                        <!--                            <ul class="dropdown-menu">-->
                        <!--                                <li><a class="dropdown-item" href="#">Action</a></li>-->
                        <!--                                <li><a class="dropdown-item" href="#">Another action</a></li>-->
                        <!--                                <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </div>

                </div>
            </div>

            <div class="row under-footer">
                <!--     тут зона під футером      -->
                <div class="col-md-2">
                    <p>© Visit everywhere, 2023</p>
                </div>
                <div class="col-2"></div>
                <div class="col-md-3">
                    <a>
                        <p>
                            Terms & Conditions
                        </p>
                    </a>
                    <a>
                        <p>
                            Privacy Policy
                        </p>
                    </a>
                    <a>
                        <p>
                            Cookies Policy
                        </p>
                    </a>
                </div>
            </div>
        </div>


    </div>
</footer>
