<footer>
    <div class="container footer">
        <div>
            <div>
                <img ngSrc="../../../assets/images/ve-icon-nobg.svg" height="80" width="80" alt="">
                <div class="row justify-content-start">
                    <div class="col-md-2 col-sm-4">
                        <p>Let’s cooperate</p>
                        <a href="#">VE Business</a><br>
                        <a href="#">VE Partners</a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <p>Helpful links</p>
                        <a href="#">About Us</a><br>
                        <a href="#">FAQ</a><br>
                        <a href="#">Contact Us</a><br>
                        <a href="#">Security</a>
                    </div>
                    <div class="col-md-2 col-sm-4"></div>
                    <div class="col-md-2 col-sm-4"></div>
                    <div class="col-md-2 col-sm-4">
                        first
                    </div>
                </div>
            </div>

            <div>
                <!--     тут зона під футером      -->
            </div>
        </div>


    </div>
</footer>
