<footer>
    <div class="container footer">
        <div>
            <div class="upper-footer">
                <img ngSrc="assets/images/ve-icon-nobg.svg" height="80" width="80" alt="">
                <div class="row justify-content-start">
                    <div class="col-md-2 col-sm-4">
                        <p>Let’s cooperate</p>
                        <a href="#">VE Business</a><br>
                        <a href="#">VE Partners</a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <p>Helpful links</p>
                        <a href="#">About Us</a><br>
                        <a href="#">FAQ</a><br>
                        <a href="#">Contact Us</a><br>
                        <a href="#">Security</a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <p>Follow us</p>
                        <a href="#">Facebook</a><br>
                        <a href="#">Twitter</a><br>
                        <a href="#">Instagram</a><br>
                    </div>
                    <div class="col-md-2 col-sm-4"></div>
                    <div class="col-md-2 col-sm-4"></div>
                    <div class="col-md-2 col-sm-4">
                        <a href="https://play.google.com/store/games?hl=uk&gl=US">
                            <img ngSrc="assets/images/google-play-badge-en.svg" width="180"
                                 class="get-on-img google-get-img"
                                 alt="Google Play and the Google Play logo are trademarks of Google LLC." height="53">
                        </a><br>
                        <a href="https://www.apple.com/ua/app-store/">
                            <img ngSrc="assets/images/apple-badge-en.svg" width="180"
                                 class="get-on-img"
                                 alt="Apple Store and the Apple Store are trademarks of Apple Inc." height="60">
                        </a><br>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Language
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Українська</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row under-footer">
                <!--     тут зона під футером      -->
                <div class="col-md-2">
                    <p>© Visit everywhere, 2023</p>
                </div>
                <div class="col-2"></div>
                <div class="col-md-2">
                    <a href="#">
                        <p>
                            Terms & Conditions
                        </p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <p>
                            Privacy Policy
                        </p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <p>
                            Cookies Policy
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
