/*
    This SCSS file imports all of the Nunito font family and etc fonts
*/


@font-face {
    font-family: 'Nunito-Black';
    src: url(~src/assets/fonts/Nunito-Black.ttf);
}
@font-face {
    font-family: 'Nunito-BlackItalic';
    src: url(~src/assets/fonts/Nunito-BlackItalic.ttf);
}
@font-face {
    font-family: 'Nunito-Bold';
    src: url(~src/assets/fonts/Nunito-Bold.ttf);
}
@font-face {
    font-family: 'Nunito-BoldItalic';
    src: url(~src/assets/fonts/Nunito-BoldItalic.ttf);
}
@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url(~src/assets/fonts/Nunito-ExtraBold.ttf);
}
@font-face {
    font-family: 'Nunito-ExtraBoldItalic';
    src: url(~src/assets/fonts/Nunito-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: 'Nunito-ExtraLight';
    src: url(~src/assets/fonts/Nunito-ExtraLight.ttf);
}
@font-face {
    font-family: 'Nunito-ExtraLightItalic';
    src: url(~src/assets/fonts/Nunito-ExtraLightItalic.ttf);
}
@font-face {
    font-family: 'Nunito-Italic';
    src: url(~src/assets/fonts/Nunito-Italic.ttf);
}
@font-face {
    font-family: 'Nunito-Light';
    src: url(~src/assets/fonts/Nunito-Light.ttf);
}
@font-face {
    font-family: 'Nunito-LightItalic';
    src: url(~src/assets/fonts/Nunito-LightItalic.ttf);
}
@font-face {
    font-family: 'Nunito-Medium';
    src: url(~src/assets/fonts/Nunito-Medium.ttf);
}
@font-face {
    font-family: 'Nunito-MediumItalic';
    src: url(~src/assets/fonts/Nunito-MediumItalic.ttf);
}
@font-face {
    font-family: 'Nunito-Regular';
    src: url(~src/assets/fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: 'Nunito-SemiBold';
    src: url(~src/assets/fonts/Nunito-SemiBold.ttf);
}
@font-face {
    font-family: 'Nunito-SemiBoldItalic';
    src: url(~src/assets/fonts/Nunito-SemiBoldItalic.ttf);
}
